---
sections:
 - title: "Implementing SMART / Argonaut APIs"
   api: "smart"
 - title: "Implementing HealthKit / ResearchKit APIs"
   api: "ios"
 - title: "Implementing Other APIs"
   api: "other"

---
<html>
<head>
</head>
<body>

{% assign listings = site.listings | sort: 'name' %}

{% for section in page.sections %}

    <h1 class='impl-heading'><a id='#{section.tag}'></a>{{section.title}}</h1>

    {% for listing in listings %}{% if listing.api == section.api %}

        <p>{{listing.name}}</p>
        <p>{{listing.content}}</p>

    {% endif %}{% endfor %} 

{% endfor %}

</body>
</html>
